<!DOCTYPE html>
<html>
<head>
  <title>Maktoub</title>
  <%= stylesheet_link_tag    "maktoub/application" %>
  <%= javascript_include_tag "maktoub/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
