<h1>Readme</h1>
<p>Place your newsletter partials in your views/maktoub/newsletters folder. The partial name is converted into the newsletter subject. </p>

<p>Multipart emails:</p>
<ul>
  <li>To send html only emails, only include an html template</li>
  <li>To send text only emails, only include a text template</li>
  <li>To send multipart emails, include both template types</li>
</ul>

